:root {
  --navbar-background: rgb(238, 238, 238);
}

/* RESET RULES */
body {
  font-family: "Roboto", sans-serif;
}

body,
ul {
  margin: 0;
}

#wrapper {
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

main {
  margin: 0 200px;

  flex-grow: 1;
}

/* NAVBAR */
#navbar {
  background-color: var(--navbar-background);
  padding: 1rem 2rem;
}

#navbar ul {
  list-style: none;
  padding: 0;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

#navbar a {
  text-decoration: none;
}

/* TASK LIST PAGE */
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  text-align: start;
}

th,
td {
  padding: 0.5rem 1rem;
}

tr:nth-child(even) {
  background-color: #e4e4e4;
}

.task-id-table,
.task-status-table {
  text-align: center;
}

.task-status-table .fa-check {
  color: green;
}

.task-status-table .fa-x {
  color: red;
}

.task-status-table .fa-spinner {
  color: rgb(226, 204, 2);
}
